﻿@using asp.netSiteFw.Helpers
@model asp.netSiteFw.Models.IndexViewModel

@{
    /**/

    ViewBag.Title = "Products Table";
}

<h2>Products List</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct", "Home")
</p>
<form method="GET">
    <div class="form-group">
        <label for="Search Product">Search Products</label>
        <input type="search" class="form-control" id="InputSearch" placeholder="Enter search" name="searchProduct">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailProduct", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("ProductsTable", new { page = x }))
</div>
