﻿@model IEnumerable<asp.netSiteFw.Models.User>

@{
    ViewBag.Title = "UsersTable";
}

<h2>UsersTable</h2>

<script src="~/Scripts/jquery-3.3.1.min.js">
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                console.log("js work");
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<input id="myInput" type="text" placeholder="Search..">
<br>
<br>
<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShoppingCartId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ShoppingCartId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ShoppingCartId })
                </td>*@
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


